#### Python编程基础2

1. 函数

In [2]:
def add(a, b):
  print(a+b)
add(1,2)

3

In [3]:
### 自动统计出超出某分数的科目数。
scores=[70,76,84,83,94,91,93,79,81,90]
def num_higher(s, s_high=90):
  num = 0
  for score in s:
    # print(score)
    if score >= s_high:
      num=num+1
  return num 
num = num_higher(s=scores, s_high=80)
print('超过给定分数的科目数为：', num)

超过给定分数的科目数为： 7

2. 类

In [ ]:
### 类的定义
class Student():
  grade = 2023    ## 类变量
  def __init__(self, name, age):
    self.name=name    ## 实例变量
    self.age = age
  def scores_mean(self, score_1, score_2):   ## 类方法
    mean = (score_1+score_2)/2
    return mean
  # def num_higher(self, s, s_high=90):
  #   num = 0
  #   for score in s:
  #     # print(score)
  #     if score >= s_high:
  #       num=num+1
  #   return num 

### 类的实例
zhang3 = Student(name='zhang3', age=18)
mean = zhang3.scores_mean(90, 60)
print('平均分:', mean)
# num_high = zhang3.num_higher(s=scores)
# print('高分科目科数：', num_high)

平均分: 75.0

In [8]:
### 类的继承
class StudentPrimary(Student):
  def __init__(self, name, age, parent_name):
    Student.__init__(self, name, age)
    self.parent = parent_name

li4 = StudentPrimary(name='li4', age=8, parent_name='zhang3')
li4.scores_mean(90,78)

84.0

3. 模块/包

In [11]:
### 模块
### Create module.py file. and copy the function of num_higher()
import module
num_high = module.num_higher_(s=scores, s_high=85)
print(num_high)

4

In [ ]:
### 包, 在不同.py文件中写能够打印出文件名的程序
from package_tmp import module_1
from package_tmp import module_2
module_1.print_name()
module_2.print_name()

this is module_1
this is module_2

In [ ]:
## 导入软件包，获取随机数
import numpy as np
np.random.randint(10)

0

4. Python内置函数

In [28]:
a = 1
print(id(a))
print(type(a))
print(a)
len([1,2,3])

140703147737896
<class 'int'>
1

3

In [29]:
range(5)  ## 可迭代对象
for i in range(5, 10, 2):
    print(i)

5
7
9

#### 实验：随机抽取同学回答问题小程序

In [48]:
import pandas as pd
import numpy as np

In [35]:
path_stud = 'students/students_hometown.csv'
stud_info = pd.read_csv(path_stud)
stud_info.head()

    姓名 性别 家乡所在省 家乡所在市    家乡经度   家乡纬度
0  邱楚涵  女   辽宁省   大连市  121.60  38.90
1  刘莫晗  女   河北省   保定市  115.70  38.50
2  龚婉盈  女   湖北省   武汉市  113.40  29.50
3  向玲仪  女   重庆市   渝北区  106.63  29.71
4  黎浩蓉  女   云南省   曲靖市  104.25  25.67

In [ ]:
names = stud_info['姓名']
num_stud = len(names)
i = np.random.randint(num_stud)
names[i]

'黄玉缘'

'苏蕊'