随机分组：
1. 4-5人一组
2. 男女均衡分配

In [ ]:
import pandas as pd
from pprint import pprint

In [10]:
path = 'students/students_hometown.csv'
stud_pd = pd.read_csv(path)
num_stud = len(stud_pd)
print(num_stud)
stud_pd.head()

18

    姓名 性别 家乡所在省 家乡所在市    家乡经度   家乡纬度
0  邱楚涵  女   辽宁省   大连市  121.60  38.90
1  刘莫晗  女   河北省   保定市  115.70  38.50
2  龚婉盈  女   湖北省   武汉市  113.40  29.50
3  向玲仪  女   重庆市   渝北区  106.63  29.71
4  黎浩蓉  女   云南省   曲靖市  104.25  25.67

In [17]:
stud_pd = stud_pd.sample(n=num_stud).reset_index(drop=True) 
stud_pd.head()

    姓名 性别 家乡所在省 家乡所在市    家乡经度   家乡纬度
0  向玲仪  女   重庆市   渝北区  106.63  29.71
1  邱柏萍  男   江西省   萍乡市  113.58  28.08
2   苏蕊  女   四川省   德阳市  104.39  31.12
3  李瑞涵  女   山东省   淄博市  117.83  36.55
4  陈鑫然  男   云南省   曲靖市  103.79  25.50

In [12]:
num_groups = len(stud_pd) // 4  ## 整除
num_groups

4

In [13]:
stud_boys = stud_pd[stud_pd['性别'] == '男']
stud_girls = stud_pd[stud_pd['性别'] == '女']
len(stud_boys)
len(stud_girls)

12

In [14]:
## 初始化各组学生列表
stud_groups = []
for i in range(num_groups):
    stud_groups.append([])
stud_groups

[[], [], [], []]

In [15]:
i = 0
for boy in stud_boys['姓名']:
    print(boy)
    stud_groups[i].append(boy)
    i = i+1
    if i>=num_groups: 
        i = 0
print(i)

i = 0
for girl in stud_girls['姓名']:
    print(girl)
    stud_groups[i].append(girl)
    i = i+1
    if i>=num_groups: 
        i = 0

周庭乐
申时航
曹匡杰
陈鑫然
邹廷凯
邱柏萍
2
邱楚涵
杨媛圆
宋萱宣
龚婉盈
吴雨阳
刘莫晗
黎浩蓉
孙忠唤
苏蕊
黄玉缘
向玲仪
李瑞涵

In [ ]:
pprint(stud_groups)

[['周庭乐', '邹廷凯', '邱楚涵', '吴雨阳', '苏蕊'],
 ['申时航', '邱柏萍', '杨媛圆', '刘莫晗', '黄玉缘'],
 ['曹匡杰', '宋萱宣', '黎浩蓉', '向玲仪'],
 ['陈鑫然', '龚婉盈', '孙忠唤', '李瑞涵']]